	body {
			font-family: 'Poppins', sans-serif !important;
		padding-left: 10px !important;
		padding-right: 10px !important;
		padding-bottom: 20px !important;
		padding-top: 20 !important;
	}

	#addProductDiv{
		text-align: center;
	}

	#divbtn button{
		margin-top: 30px;
	}
	.morebtn {
		background: white;
		border: 1px solid #ced4da;
		border-radius: .25rem;
		height: 39px;
		width: 80%;
		font-size: 13px;
		text-transform: uppercase;
		margin-top: 14px;
	}
	#submitbtn {
		background: white;
		display: block;
		text-transform: uppercase;
		cursor: pointer;
		border: 1px solid black;
		border-radius: 4px;
		height: 37px;
		font-weight: bold;
		font-size: 15px;
		margin-top: 18px;
	}   

	.productH {
		text-transform: uppercase;
		margin-left: 5px;
		color: #495057;
		text-align: left;
		font-size: 15px;
		display: block;
	}   

	.productimgdiv {
			height: 183px;
			opacity: 0.8;
			margin-bottom: 2px;
	}

	.productimg{
			 transition: all .4s ease-in-out;
	 }

	.productimg:hover{
			transform: scale(1.04);
	}

	.products {
			text-transform: uppercase;
			height: 32px;
			display: block;
			width: 80%;
			font-size: 13px;
			margin: 0 auto;
			margin-bottom:10px;
	}

	.products_products {
		font-weight: bold;
		font-size: 16px;
		text-align: center;
		height: auto !important;
		width: auto;
		overflow:auto;
		word-wrap: break-word;
	}

	.number {
		border: 1px solid #ced4da;
		border-radius: .25rem;
		color: #495057;
		padding-left: 15px;
		float: left;

			display: block;
			width: 50%;
			font-size: 13px;
			margin-bottom:10px;
			margin-left:13px;
	}

	.unit {
		float: left;
		margin: 7px 0px 0px 20px;
	}


	#form1 {
		text-transform: uppercase;
		width: 1633px;
		margin: 0 auto;
	}

	.personalInfo {
		width: 309px;
		padding: 20px;
		height: 758px;
		background: #4ca04469;
		border: 1px solid #017713;
		border-radius: 18px;
		font-size: 17px;
		margin-right: 22px;
		margin-bottom: 30px;
		overflow: auto;
	}

	.items{
		width: 243px;
		float:left;
		height: auto;
		overflow: auto;
		margin-bottom: 30px;
		border: 1px solid silver;
		border-radius: 21px;
		padding: 20px 5px 20px 5px;
		margin-right: 20px;
	}

	.banner {
		height: auto;
		background: #ff000014;
		padding: 20px;
		border-left: 7px solid red;
		font-size: 18px;
	}

	.middle {
			width: auto;
			max-width: 1052px;
			float: left;
	}

	.left {
			float: left;
	}

	.right{
			float: right;
	}

	.personalInfo label{
		font-size: 17px;
	}

	.personalInfoInput {
			width: 90%;
			color: #535353;
	}

	.products{
		height: 36px;
		display: block;
	}

	.number{
		height: 36px;
		display: block;
	}
	
	.subtotal span{
			color: #82ae46;
		font-size: 16px;
		font-weight:400;
	}

	#clipboard{
		background: wheat;
		padding: 20px;
		font-size: 17px;
		width: 250px;
		height: 440px;
		border-radius: 10px;
		color: #515151;
		border: 1px solid black;
		margin-bottom: 20px;
	}
	
	.orderBox {
		width: 400px;
		margin: auto auto 30px auto;
		font-size: 16px;
		background: #5f9ea024;
		border: 4px solid cadetblue;
		padding: 20px;
		margin-bottom: 20px;
		border-radius: 10px;
		overflow: auto;
	}

	.orderBox .labeldiv {
		width: 168px;
		float: left;
	}
	.orderBox .labels {
			font-weight: bold;
			display: block;
	}

	.orderBox .content{
		float: left;
		display: block;
		overflow: auto;
			font-size: 15px;
	}

	ul {
			font-size: 15px;
	}
	
	#orderbtn {
		margin-top: 20px;
		height: 46px;
		border-radius: 8px;
		font-weight: bold;
		cursor: pointer;
	}

	.paidbtn {
		background: #15c22714;
		border: 3px solid #74b318;
		color: #3a9b0e;
	}

	.deliverybtn {
		background: #ffa50014;
		border: 3px solid orange;
		color: orange;
	}
	
	.cancelbtn {
			background: #a2090914;
			border: 3px solid red;
			color: red;
	}

	.paidInfo {
		text-align: center;
		color: green;
		font-weight: bold;
		text-transform: uppercase;
		font-size: 17px;
	}

	.plzh {
			text-align: center;
				display: block;
				font-weight: bold;
				font-size: 26px;
				color: cornflowerblue;
		}

	.wrapper {
		margin: 0 auto;
		width: 1350px;
	}

	.typesubheading {
		font-weight: 600;
		font-size: 16px;
		margin-bottom: -16px;
		display: block;
		text-transform: uppercase;
		background: #009510;
		padding: 10px;
		color: white;
		border-radius: 14px;
	}


@media only screen and (max-width: 1677px) {
		#form1 {
				width: 1370px;
		}
    .middle{ 
			width: 789px;
    }
	.right {
			float: left;
	}
}



@media only screen and (max-width: 1423px) {
		#form1{
				width: 1107px;
		}
    .middle{ 
			width: 526px;
    }
}

@media only screen and (max-width: 1160px) {
		#form1{
				width: 310px;
		}
	.middle{
			width: 100%;
			clear: both;
	}

	.right{
			margin: 0 auto;
			clear: both;
			width: 100%;
	}

	#clipboard {
			width: 100%;
	}

	.items{
		width: 135px;
		height: auto;
		float: left;
	}

	.unit {
		margin-left: 10px;
	}

	.number{
		margin-left: 0px;
	}

	.productimgdiv {
		height: 106px;
	}

	.dup_products {
		height: auto !important;
	}

	.morebtn {
		width: 100%;
	}

	.products_products {
		font-size: 13px;

	}
	.wrapper {
		width: 500px;
		margin: 0 auto;
	}

}

@media only screen and (max-width: 523px) {

	body {
		padding-left: 0;
	}
	.wrapper {
		width: 360px;
	}
}


@media only screen and (max-width: 507px) {


	.orderBox{
			width: 85%;
			font-size: 14px;
	}

	.orderBox .labeldiv {
		float: none;
		clear: both;
	}
	.orderBox .labels {
			font-size: 16px;
	}

	.orderBox .content{
			margin-bottom: 13px;
	}

	ul {
			font-size: 14px;
	}
	
	#orderbtn {
			font-size: 14px;
			height: 43px;
	}

	.wrapper {
		padding-left: 10px;
		width: 320px;
	}

	.banner {
		font-size: 12px;
	}

}



